<div class="flex justify-between items-center pr-6">
  <h1 mat-dialog-title>{{ inputdata.title }}</h1>
  <fa-icon [icon]="faXmark" (click)="closeModal()" class="opacity-60 text-2xl cursor-pointer"></fa-icon>
</div>
<form [formGroup]="timesheetForm" (ngSubmit)="onClickSave()">
  <div mat-dialog-content >
    <mat-form-field>
      <mat-label>Projects</mat-label>
      <mat-select formControlName="projects" name="projects" [(value)]="Projects">
        <mat-option value="GEO">GEO</mat-option>
        <mat-option value="SO-2023-021">SO-2023-021</mat-option>
        <mat-option value="SO-2023-07">SO-2023-07</mat-option>
        <mat-option value="SO-2023-051">SO-2023-051</mat-option>
        <mat-option value="SO-2023-028">SO-2023-028</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Mon</mat-label>
      <input matInput formControlName="mon">
    </mat-form-field>

    <mat-form-field>
      <mat-label>tue</mat-label>
      <input matInput formControlName="tue">
    </mat-form-field>

    <mat-form-field>
      <mat-label>wed</mat-label>
      <input matInput formControlName="wed">
    </mat-form-field>

    <mat-form-field>
      <mat-label>thu</mat-label>
      <input matInput formControlName="thu">
    </mat-form-field>

    <mat-form-field>
      <mat-label>fri</mat-label>
      <input matInput formControlName="fri">
    </mat-form-field>

    <mat-form-field>
      <mat-label>sat</mat-label>
      <input matInput formControlName="sat">
    </mat-form-field>

    <mat-form-field>
      <mat-label>sun</mat-label>
      <input matInput formControlName="sun">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Total</mat-label>
      <input matInput formControlName="total">
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="pl-6">
    <button mat-raised-button color="primary" mat-stroked-button (click)="showAlert()" aria-label="Show an example snack-bar">
      Save Changes
    </button>
  </div>
</form>