.card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  .box-card {
    border: 1px solid #ccc;
    border-radius: 0.75rem;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 1rem 1rem;
    height: 24.5rem;
  
    .box-content {
      text-align: center;
      .training-type {
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        h2 {
          font-size: 1.3rem;
        }

        .card-menu{
          position: relative;

          fa-icon {
            color: gray;
            font-size: 1.115rem;
            cursor: pointer;
            opacity: 0.75;
            justify-self: flex-end;
          }

          .toggle-item{
            position: absolute;
            right: 0;
            background-color: white;
            border-radius: .5rem;
            box-shadow: 0 2px 8px rgba($color: blue, $alpha: .2);
          }
  
          .toggle-item div{
            cursor: pointer;
            padding: 5px 20px;
          }

          .toggle-item div.edit{
            border-radius: .5rem .5rem 0 0;
          }
          .toggle-item:nth-child(2){
            border-radius: .5rem;
          }

          .toggle-item div:hover{
            background-color: rgba($color: #ccc, $alpha: .5);
          }
        }

      }
      img {
        width: 100%;
        background-color: var(--default-bg);
        aspect-ratio: 16/9;
        margin-top: 5px;
        border-radius: 0.75rem;
      }
      .date {
        font-size: 14px;
        color: #888;
        display: flex;
        justify-content: space-between;
        align-items: space-between;
      }
      .description {
        h3,
        p {
          text-align: left;
        }
        p:nth-child(3) {
          font-weight: 500;
        }
        p:nth-child(4) {
          font-weight: 300;
          font-size: 0.9rem;
        }
      }
      .card-title {
        font-size: 18px;
        font-weight: bold;
        margin: 0;
      }
      .card-description {
        font-size: 14px;
        margin: 0;
      }
    }
  }

  .add__training{
    border: 1px solid var(--border-color);
    border-radius: .75rem;
    box-shadow: var(--general-shadow);
    height: 24.5rem;
  
    &:hover .plus{
      transform: scale(1.1);
      transition: .4s ease;
    }
  
    .plus{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      font-size: 10rem;
      opacity: .5;
      color: var(--border-color);
      cursor: pointer;
    }
  }
}

