<div class="sidebar px-12 border-r border-opacity-20 border-black">
  <p class="mt-4 mb-0 opacity-70">Timesheet</p>
  <ul class="text-lg font-medium">
    <li class="flex gap-2">
      <fa-icon [icon]="faTable"></fa-icon>
      <a routerLink="/timesheet">Timesheet</a>
    </li>
    <li class="flex gap-2">
      <fa-icon [icon]="faTable"></fa-icon>
      <a routerLink="/approval">Approval</a>
    </li>
  </ul>

  <p class="mt-4 mb-0 opacity-70">Links</p>
  <ul class="text-lg font-medium flex flex-col gap-2">
    <li class="flex gap-2">
      <fa-icon [icon]="faHouse"></fa-icon>
      <a routerLink="/dashboard">Dashboard</a>
    </li>
    <li class="flex gap-2">
      <fa-icon [icon]="faMagnifyingGlassChart"></fa-icon>
      <a routerLink="/summary">Summary</a>
    </li>
    <li class="flex gap-2">
      <fa-icon [icon]="faChartSimple"></fa-icon>
      <a>Graph Data</a>
    </li>
    <li class="flex gap-2">
      <fa-icon [icon]="faList"></fa-icon>
      <a>List</a>
    </li>
    <li class="flex gap-2">
      <fa-icon [icon]="faProjectDiagram"></fa-icon>
      <a routerLink="/projects">Projects</a>
    </li>
    <li class="flex gap-2">
      <fa-icon [icon]="faIdBadge"></fa-icon>
      <a>Employees</a>
    </li>
    <li class="flex gap-2">
      <fa-icon [icon]="faCalendarWeek"></fa-icon>
      <a>Weeks</a>
    </li>
    <li class="flex gap-2">
      <fa-icon [icon]="faBusinessTime"></fa-icon>
      <a>Weeks OT</a>
    </li>
    <li class="flex gap-2">
      <fa-icon [icon]="faLightbulb"></fa-icon>
      <a routerLink="/trainings">Trainings</a>
    </li>
    <li class="flex gap-2">
      <fa-icon [icon]="faChartLine"></fa-icon>
      <a routerLink="/kpi">KPI</a>
    </li>
  </ul>
</div>