<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>Edit</th>
    <th mat-cell *matCellDef="let element">
      Edit
    </th>
  </ng-container>

  <ng-container matColumnDef="projects">
    <th mat-header-cell *matHeaderCellDef>Projects</th>
    <th mat-cell *matCellDef="let element">{{ element.projects }}</th>
  </ng-container>

  <ng-container matColumnDef="mon">
    <th mat-header-cell *matHeaderCellDef>mon</th>
    <th mat-cell *matCellDef="let element">{{ element.mon }}</th>
  </ng-container>

  <ng-container matColumnDef="tue">
    <th mat-header-cell *matHeaderCellDef>tue</th>
    <th mat-cell *matCellDef="let element">{{ element.tue }}</th>
  </ng-container>

  <ng-container matColumnDef="wed">
    <th mat-header-cell *matHeaderCellDef>wed</th>
    <th mat-cell *matCellDef="let element">{{ element.wed }}</th>
  </ng-container>

  <ng-container matColumnDef="thu">
    <th mat-header-cell *matHeaderCellDef>thu</th>
    <th mat-cell *matCellDef="let element">{{ element.thu }}</th>
  </ng-container>

  <ng-container matColumnDef="fri">
    <th mat-header-cell *matHeaderCellDef>fri</th>
    <th mat-cell *matCellDef="let element">{{ element.fri }}</th>
  </ng-container>

  <ng-container matColumnDef="sat">
    <th mat-header-cell *matHeaderCellDef>sat</th>
    <th mat-cell *matCellDef="let element">{{ element.sat }}</th>
  </ng-container>

  <ng-container matColumnDef="sun">
    <th mat-header-cell *matHeaderCellDef>sun</th>
    <th mat-cell *matCellDef="let element">{{ element.sun }}</th>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <th mat-cell *matCellDef="let element">
      delete
    </th>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
</table>