<div class="flex justify-between items-center pr-6">
  <h1 mat-dialog-title>Create New Training</h1>
  <mat-icon (click)="closeDialog()" class="cursor-pointer">close</mat-icon>
</div>
<form #trainingForm="ngForm" (ngSubmit)="postTraining(trainingForm.value)">
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Type</mat-label>
      <input matInput ngModel name="type">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Date</mat-label>
      <input matInput ngModel name="date">
    </mat-form-field>
    <mat-form-field>
      <mat-label>duration</mat-label>
      <input matInput ngModel name="duration">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Employee Code</mat-label>
      <input matInput ngModel name="employeeCode">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Brands</mat-label>
      <input matInput ngModel name="brands">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Distri Partner</mat-label>
      <input matInput ngModel name="distriPartner">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Detalis</mat-label>
      <input matInput ngModel name="details">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="submit">Create</button>
  </div>
</form>