<div class="modal-overlay" *ngIf="isModalOpen">
  <div class="modal-container">
    <div class="flex justify-between items-center">
      <h1 class="opacity-60">Create New Training</h1>
      <mat-icon aria-hidden="false" fontIcon="close" (click)="closeModal()"></mat-icon>
    </div>

    <form #trainingForm="ngForm" (ngSubmit)="postTraining(trainingForm.value)">
      <input type="text" ngModel name="type" placeholder="Enter Type" class="modal-input">
      <input type="text" ngModel name="date" placeholder="Enter date" class="modal-input">
      <input type="text" ngModel name="duration" placeholder="Actual hours" class="modal-input">
      <input type="text" ngModel name="employeeCode" placeholder="Employee Code" class="modal-input">
      <input type="text" ngModel name="brands" placeholder="Brands" class="modal-input">
      <input type="text" ngModel name="distriPartner" placeholder="Distri Partner" class="modal-input">
      <input type="text" ngModel name="details" placeholder="details" class="modal-input">

      <input type="submit" value="submit" class="bg-blue-400 px-4 py-2 rounded-md cursor-pointer text-white">
    </form>
  </div>
</div>

<div class="add__training" (click)="openModal()">
  <div class="plus">
    <mat-icon aria-hidden="false" fontIcon="add"></mat-icon>
  </div>
</div>