<div class="card-container grid grid-cols-3 gap-4">
  <ng-container *ngFor="let trainingData of trainings; let i = index">
    <mat-card class="example-card">
      <mat-card-header>
        <div class="flex items-center justify-between w-full mb-4">
          <mat-card-title>{{ trainingData.type }}</mat-card-title> 
          <mat-icon [matMenuTriggerFor]="menu" class="cursor-pointer">more_vert</mat-icon>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Edit</button>
            <button mat-menu-item>Delete</button>
          </mat-menu>
        </div>
      </mat-card-header>

      <ng-template #defaultImage>
        <img mat-card-image
          src="../../../../../../assets/image/default/thumb.png"
          alt="default thumbnail image"
          class="aspect-video"
        />
      </ng-template>
      <img
        mat-card-image
        [src]="trainingData.cover"
        *ngIf="trainingData.cover; else defaultImage"
        class="aspect-video"
      />

      <mat-card-content>
        <div class="date text-sm mt-2 text-gray-500 flex justify-between items-center">
          <p>{{ trainingData.date }}</p>
          <p>{{ trainingData.duration }} Hours</p>
        </div>
        <div class="description">
          <h3 class="text-left">{{ trainingData.employeeCode }}</h3>
          <p class="text-left">{{ trainingData.brands }}</p>
          <p class="text-left font-medium">{{ trainingData.distriPartner }}</p>
          <p class="text-left font-light text-sm">{{ trainingData.details }}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>

  <div class="add__training" (click)="openDialog()">
    <div class="plus">
      <mat-icon aria-hidden="false" fontIcon="add"></mat-icon>
    </div>
  </div>
</div>

