<div>
  <table>
    <tr>
      <th>SO No.</th>
      <th>Customer</th>
      <th>Project Name/Description</th>
      <th>Total Hours</th>
    </tr>
    <tr>
      <td>GEO</td>
      <td>Geoplan Internal</td>
      <td>Geoplan Internal (Overhead)</td>
      <td><a routerLink="/projects/geo/total-hours">1,000.8</a></td>
    </tr>
    <tr *ngFor="let apptivo of apptivodata">
      <td class="whitespace-nowrap">{{ apptivo.workOrderNumber }}</td>
      <td>{{ apptivo.customer }}</td>
      <td>{{ apptivo.projectDescription }}</td>
      <td><a routerLink="/projects/geo/total-hours">0</a></td>
    </tr>
  </table>
</div>