<!--<div>
  <table>
    <tr>
      <th>SO No.</th>
      <th>Customer</th>
      <th>Project Name/Description</th>
      <th>Total Hours</th>
    </tr>
    <tr>
      <td>GEO</td>
      <td>Geoplan Internal</td>
      <td>Geoplan Internal (Overhead)</td>
      <td><a routerLink="/projects/geo/total-hours">1,000.8</a></td>
    </tr>
    <tr *ngFor="let apptivo of apptivodata">
      <td class="whitespace-nowrap">{{ apptivo.workOrderNumber }}</td>
      <td>{{ apptivo.customer }}</td>
      <td>{{ apptivo.projectDescription }}</td>
      <td><a routerLink="/projects/geo/total-hours">0</a></td>
    </tr>
  </table>
</div> 
-->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>SO No.</th>
    <td mat-cell *matCellDef="let element">{{ element.workOrderNumber }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Customer</th>
    <td mat-cell *matCellDef="let element">{{ element.customer }}</td>
  </ng-container>

  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef>Project Name/ Description</th>
    <td mat-cell *matCellDef="let element">{{ element.projectDescription }}</td>
  </ng-container>

  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef>Total Hours</th>
    <td mat-cell *matCellDef="let element">{{ element.hours }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>