.training-container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  align-items: stretch;
}

.add__training{
  border: 1px solid var(--border-color);
  border-radius: .75rem;
  box-shadow: var(--general-shadow);

  &:hover .plus{
    transform: scale(1.1);
    transition: .4s ease;
  }
}

.plus{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 10rem;
  opacity: .5;
  color: var(--border-color);
  cursor: pointer;
}