<mat-toolbar>
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <img src="../../../assets/image/logo.png" alt="brand logo" class="w-12 mr-2" />
  <span>Geoplan Timesheet</span>
  <span class="spacer"></span>
  <div class="user flex items-center gap-2">
    <img src="../../../assets/image/logo.png" alt="brand logo" class="w-12" />

    <ng-container [ngSwitch]="isLoggedIn()">
      <div class="logout flex gap-2 cursor-pointer" *ngSwitchCase="true">
        <p>Logout</p>
        <fa-icon [icon]="faRightFromBracket"></fa-icon>
      </div>

      <div
        class="logout flex gap-2 cursor-pointer hover:underline"
        *ngSwitchDefault
        routerLink="/"
      >
        <p>Login</p>
        <fa-icon [icon]="faRightToBracket"></fa-icon>
      </div>
    </ng-container>
  </div>
</mat-toolbar>

<!-- sidebar start -->
<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side">
    <mat-nav-list>
      <ng-container *ngFor="let sidebaritem of sidebardata">
        <mat-list-item routerLink="{{ sidebaritem.link }}">
          <button mat-button>
            <mat-icon>{{ sidebaritem.icon }}</mat-icon>
            {{ sidebaritem.name }}
          </button>
        </mat-list-item>
      </ng-container>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <div class="min-h-screen mx-4 mt-2">
      <ng-content></ng-content>
    </div>
  </mat-drawer-content>
</mat-drawer-container>