<div class="main-container">
  <div class="login-container">
    <div class="login-header">
      <img src="../../../assets/image/logo.png" alt="Company Logo">
      <h2>User Login</h2>
    </div>

    <div id="g_id_onload"
      data-client_id="239189910508-do4vjdu64abo2skcd56r5vfcn1t272mn.apps.googleusercontent.com"
      data-context="signin"
      data-ux_mode="popup"
      data-login_uri="http://localhost:9000/api/login"
      data-auto_prompt="false">
    </div>

    <div class="g_id_signin"
      data-type="standard"
      data-shape="pill"
      data-theme="filled_blue"
      data-text="signin_with"
      data-size="large"
      data-logo_alignment="left">
    </div>
  </div>
</div>
