<div class="login-container">
    <div class="user-login-container">
      <!-- Company Logo -->
      <img src="../../../assets/image/logo.webp" alt="Company Logo" class="company-logo">
    
      <!-- User Login Title -->
      <h2 class="user-login-title">User Login</h2>
    </div>
    
    <!-- Login with Google Button -->
    <button (click)="signInWithGoogle()" class="google-login-btn">
      <img src="../../../assets/image/Google-Logo-PNG-Images.png" alt="Google Logo" class="google-logo">
      Continue with Google
    </button>
  </div>
  