<nav class="header w-full py-2 px-4 shadow-md flex justify-between sticky">
  <img src="../../../assets/image/logo.png" alt="brand logo" class="w-20" />

  <div class="user flex items-center gap-2">
    <img src="../../../assets/image/logo.png" alt="brand logo" class="w-12" />

    <ng-container [ngSwitch]="isLoggedIn()">
      <div class="logout flex gap-2 cursor-pointer" *ngSwitchCase="true">
        <p>Logout</p>
        <fa-icon [icon]="faRightFromBracket"></fa-icon>
      </div>

      <div
        class="logout flex gap-2 cursor-pointer hover:underline"
        *ngSwitchDefault
        routerLink="/"
      >
        <p>Login</p>
        <fa-icon [icon]="faRightToBracket"></fa-icon>
      </div>
    </ng-container>
  </div>
</nav>
