#summary{
  h1.title{
    font-size: 1.5rem;
  }
  .table-container{
    padding: 0 1.5rem;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: .75rem;
    .table-info{
      padding: .5rem 0;
      border-bottom: 1px solid var(--border-color);
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1{
        font-size: 1.35rem;
        font-weight: 500;
      }

      .week-count{
        display: flex;
        align-items: center;
        gap: 1rem;
        .count{
          width: 3.5rem;
          height: 3.5rem;
          border: 1px solid var(--border-color);
          text-align: center;
          border-radius: .5rem;
          p{
            font-size: .85rem;
            font-weight: 300;
            text-align: left;
            margin-left: 4px;
          }
          
          h2{
            font-size: 1.25rem;
            font-weight: 500;
          }
        }

        .week{
          padding: .35rem .65rem;
          border: 1px solid var(--border-color);
          border-radius: .5rem;
          h2{
            font-size: 1.25rem;
            font-weight: 500;
          }
        }
      }
    }

    table{
      width: 100%;
      padding: 0 1.5rem;
      text-align: left;
      border-collapse: collapse;
      
      thead{
        th{
          padding: .5rem 0;
          border-bottom: 1px solid var(--border-color);
          font-weight: 600;
        }
  
        p{
          font-weight: 300;
          font-size: .80rem;
        }
  
        h3{
          font-weight: 600;
          font-size: .95rem;
        }
      }
      tbody{
        td{
          padding: .5rem 0;
          border-bottom: 1px solid var(--border-color);
        }
      }
    }
  }
} 