.sidebar{
  padding: 0 3rem;
  border-right: 1px solid rgba(0, 0, 0, 0.2);

  p{
    margin-top: 1rem;
    opacity: .70;
    
  }

  ul{
    li{
      font-size: 1.125rem;
      font-weight: 500;

      display: flex;
      gap: .5rem;
    }
  }
}

