<div class="sidebar">
  <p>Timesheet</p>
  <ul>
    <li>
      <fa-icon [icon]="faTable"></fa-icon>
      <a routerLink="/">Timesheet</a>
    </li>
  </ul>

  <p>Links</p>
  <ul>
    <li> 
      <fa-icon [icon]="faHouse"></fa-icon>
      <a routerLink="/dashboard">Dashboard</a>
    </li>
    <li>
      <fa-icon [icon]="faMagnifyingGlassChart"></fa-icon>
      <a routerLink="/summary">Summary</a>
    </li>
    <li>
      <fa-icon [icon]="faChartSimple"></fa-icon>
      <a>Graph Data</a>
    </li>
    <li>
      <fa-icon [icon]="faList"></fa-icon>
      <a>List</a>
    </li>
    <li>
      <fa-icon [icon]="faProjectDiagram"></fa-icon>
      <a>Projects</a>
    </li>
    <li>
      <fa-icon [icon]="faIdBadge"></fa-icon>
      <a>Employees</a>
    </li>
    <li>
      <fa-icon [icon]="faCalendarWeek"></fa-icon>
      <a>Weeks</a>
    </li>
    <li>
      <fa-icon [icon]="faBusinessTime"></fa-icon>
      <a>Weeks OT</a>
    </li>
    <li>
      <fa-icon [icon]="faLightbulb"></fa-icon>
      <a>Trainings</a>
    </li>
    <li>
      <fa-icon [icon]="faChartLine"></fa-icon>
      <a>KPI</a>
    </li>
  </ul>
</div>