<app-layout>
  <div id="summary">
    <h1 class="title">EMPLOYEE TIMESHEET SUMMARY (SEMI-MONTHLY)</h1>

    <div class="table-container">
      <div class="table-info">
        <h1>2023</h1>
        <div class="week-count">
          <div class="count">
            <p>SH</p>
            <h2>4</h2>
          </div>
          <div class="count">
            <p>RD</p>
            <h2>8</h2>
          </div>
          <div class="week">
            <h2>WEEK 27</h2>
          </div>
        </div>
      </div>

      <table>
        <thead>
          <tr>
            <th>No.</th>
            <th>Employee</th>
            <th>Code</th>
            <th>
              <div>
                <p>Sun</p>
                <h3>Jul-2</h3>
              </div>
            </th>
            <th>
              <div>
                <p>Mon</p>
                <h3>Jul-3</h3>
              </div>
            </th>
            <th>
              <div>
                <p>Tue</p>
                <h3>Jul-4</h3>
              </div>
            </th>
            <th>
              <div>
                <p>Wed</p>
                <h3>Jul-5</h3>
              </div>
            </th>
            <th>
              <div>
                <p>Thu</p>
                <h3>Jul-6</h3>
              </div>
            </th>
            <th>
              <div>
                <p>Fri</p>
                <h3>Jul-7</h3>
              </div>
            </th>
            <th>
              <div>
                <p>Sat</p>
                <h3>Jul-8</h3>
              </div>
            </th>
          </tr>
        </thead>
        
        <tbody>
          <tr>
            <td>01</td>
            <td>Acee</td>
            <td>011</td>
            <td>8 Hours</td>
            <td>8 Hours</td>
            <td>8 Hours</td>
            <td>8 Hours</td>
            <td>8 Hours</td>
            <td>8 Hours</td>
            <td>8 Hours</td>
          </tr>
        </tbody>
     </table>
    </div>

  </div>
</app-layout>