<div class="summary">
  <h1>EMPLOYEE TIMESHEET SUMMARY (SEMI-MONTHLY)</h1>
</div>

<div class="container">
  <div class="heading">
    <div>
      <h1>2023</h1>
    </div>
    <div class="week">
      <div class="count">
        <p>SH</p>
        <h2>4</h2>
      </div>
      <div class="count">
        <p>RD</p>
        <h2>8</h2>
      </div>
      <div class="number">
        <h2>WEEK 27</h2>
      </div>
    </div>
  </div>

  <div class="data1">
    <h1>No.</h1>
    <h1>Employee</h1>
    <h1>Code</h1>
    <div class="day">
      <div>
        <p>Sun</p>
        <h2>Jul-2</h2>
      </div>
      <div>
        <p>Mon</p>
        <h2>Jul-3</h2>
      </div>
      <div>
        <p>Tue</p>
        <h2>Jul-4</h2>
      </div>
      <div>
        <p>Wed</p>
        <h2>Jul-5</h2>
      </div>
      <div>
        <p>Thurs</p>
        <h2>Jul-6</h2>
      </div>
      <div>
        <p>Fri</p>
        <h2>Jul-7</h2>
      </div>
      <div>
        <p>Sat</p>
        <h2>Jul-8</h2>
      </div>
    </div>
  </div>
</div>

<div class="summary">
  <h1>EMPLOYEE TIMESHEET SUMMARY (SEMI-MONTHLY)</h1>
</div>

<div class="container">
  <div class="heading">
    <div>
      <h1>2023</h1>
    </div>
    <div class="week">
      <div class="count">
        <p>SH</p>
        <h2>4</h2>
      </div>
      <div class="count">
        <p>RD</p>
        <h2>8</h2>
      </div>
      <div class="number">
        <h2>WEEK 27</h2>
      </div>
    </div>
  </div>

  <table class="content-table">
    <thead>
      <tr>
        <th>No.</th>
        <th>Employee</th>
        <th>Code</th>
        <th>
          <div class="daytime">
            <p>Sun</p>
            <h2>Jul-2</h2>
          </div>
        </th>
        <th>
          <div class="daytime">
            <p>Mon</p>
            <h2>Jul-3</h2>
          </div>
        </th>
        <th>
          <div class="daytime">
            <p>Tue</p>
            <h2>Jul-4</h2>
          </div>
        </th>
        <th>
          <div class="daytime">
            <p>Wed</p>
            <h2>Jul-5</h2>
          </div>
        </th>
        <th>
          <div class="daytime">
            <p>Thurs</p>
            <h2>Jul-6</h2>
          </div>
        </th>
        <th>
          <div class="daytime">
            <p>Fri</p>
            <h2>Jul-7</h2>
          </div>
        </th>
        <th>
          <div class="daytime">
            <p>Sat</p>
            <h2>Jul-8</h2>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Myka Vargas</td>
        <td>2023-153</td>
        <td>8 hours</td>
        <td>8 hours</td>
        <td>8 hours</td>
        <td>8 hours</td>
        <td>8 hours</td>
        <td>8 hours</td>
        <td>8 hours</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Myka Vargas</td>
        <td>2023-153</td>
        <td>8 hours</td>
        <td>8 hours</td>
        <td>8 hours</td>
        <td>8 hours</td>
        <td>8 hours</td>
        <td>8 hours</td>
        <td>8 hours</td>
      </tr>
    </tbody>
  </table>
</div>
