<app-main-layout>
  <h1 class="font-semibold text-3xl">GEO</h1>
  <p class="font-extralight">Geoplan Internal (Overhead)</p>

  <div class="grid grid-cols-3 gap-4 mt-4">
    <div class="border border-gray-700 rounded-xl pt-2 pb-3">
      <div class="flex items-center justify-center gap-2">
        <app-avatar avatarClass="w-11" imageUrl="../../assets/image/default/profile.png"></app-avatar>
        <h1>Ace Gabriel P. Pasiliao</h1>
      </div>
      <div class="flex justify-center">
        <div class="bg-blue-300 p-2 mt-2 text-center rounded-md">
          <h1>Total Hours</h1>
          <p>256.5 hrs</p>
        </div>
      </div>
    </div>
  </div>

</app-main-layout>