<app-main-layout>
  <div class="timesheet-container">
    <div class="timesheet-heading">
      <div class="profile">
        <app-avatar avatarClass="w-10" imageUrl="../../assets/image/default/profile.png"></app-avatar>
        <select>
          <option value="volvo">Pasiliao 2023-154</option>
          <option value="saab">Vargas 2023-155</option>
        </select>
        <p>System Developer</p>
      </div>
      <div class="instruction">
        <p>
          Instruction:
          <span>
            only fillup the white cells; highlighted cells are for coordinators
            and admins. if your project is not in list, please request to sales
            team.
          </span>
        </p>
      </div>
    </div>

    <!-- timesheet table start -->
    <mat-card>
      <mat-card-header>
        <div class="mb-2 flex w-full justify-between items-center">
          <div class="demo-button-container">
            <button mat-raised-button (click)="addTimesheet()" class="demo-button">
              Add record
            </button>
          </div>
  
          <input (keyup)="Filterchange($event)" placeholder="Search" class="outline-none px-4 py-2 rounded-md border border-gray-300 shadow-md font-normal">
        </div>
      </mat-card-header>
      
      <mat-card-content class="overflow-x-scroll">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let element">
              <fa-icon [icon]="faPenToSquare" class="cursor-pointer mx-auto" (click)="editTimesheet(element._id)" mat-riased-button></fa-icon>
            </td>
          </ng-container>
        
          <ng-container matColumnDef="projects">
            <th mat-header-cell *matHeaderCellDef>Projects</th>
            <td mat-cell *matCellDef="let element" class="whitespace-nowrap">{{ element.projects }}</td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element" class="whitespace-nowrap desc">{{ element.description }}</td>
          </ng-container>
        
          <ng-container matColumnDef="mon">
            <th mat-header-cell *matHeaderCellDef>mon</th>
            <td mat-cell *matCellDef="let element">
              <div>
                {{ element.mon }}
              </div>
            </td>
          </ng-container>
        
          <ng-container matColumnDef="tue">
            <th mat-header-cell *matHeaderCellDef>tue</th>
            <td mat-cell *matCellDef="let element">{{ element.tue }}</td>
          </ng-container>
        
          <ng-container matColumnDef="wed">
            <th mat-header-cell *matHeaderCellDef>wed</th>
            <td mat-cell *matCellDef="let element">{{ element.wed }}</td>
          </ng-container>
        
          <ng-container matColumnDef="thu">
            <th mat-header-cell *matHeaderCellDef>thu</th>
            <td mat-cell *matCellDef="let element">{{ element.thu }}</td>
          </ng-container>
        
          <ng-container matColumnDef="fri">
            <th mat-header-cell *matHeaderCellDef>fri</th>
            <td mat-cell *matCellDef="let element">{{ element.fri }}</td>
          </ng-container>
        
          <ng-container matColumnDef="sat">
            <th mat-header-cell *matHeaderCellDef>sat</th>
            <td mat-cell *matCellDef="let element" class="weekend">{{ element.sat }}</td>
          </ng-container>
        
          <ng-container matColumnDef="sun">
            <th mat-header-cell *matHeaderCellDef>sun</th>
            <td mat-cell *matCellDef="let element" class="weekend">{{ element.sun }}</td>
          </ng-container>

          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef>total</th>
            <td mat-cell *matCellDef="let element">{{ element.total }}</td>
          </ng-container>

          <ng-container matColumnDef="delete" >
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let element; index as i">
              <fa-icon [icon]="faTrash" class="text-red-600 cursor-pointer" 
              (click)="deleteRow(element._id)"></fa-icon>

              <!-- swal - delete -->
              <swal
                #deleteSwal
                title="Are you sure?"
                text="This cannot be undone"
                icon="question"
                [showCancelButton]="true"
                [focusCancel]="true"
                (confirm)="confirmDelete()"
                >
              </swal>
            </td>
          </ng-container>
 
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
        </table>
      </mat-card-content>
    
      <mat-card-footer>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </mat-card-footer>
    </mat-card>
    <!-- timesheet table end -->
  </div>
</app-main-layout>
