.timesheet-heading{
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
  width: 100%;
  .profile{
    width: 25%;
    text-align: center;
    p{
      opacity: .6;
    }
  }

  .instruction{
    width: 35rem;
    p{
      font-weight: 600;
    }
    span{
      font-weight: normal;
    }
  }
}

.add__table{
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  font-size: .75rem;
  background-color: white;
  border: 1px solid var(--border-color);
  box-shadow: var(--general-shadow);
  margin-top: .25rem;
  cursor: pointer;
  fa-icon{
    font-size: 1rem;
    opacity: .5;
  }
  &:hover{
    background-color: var(--hover-bg);
  }
}

table, tr, th, td{
  border: 1px solid var(--border-color);
  border-collapse: collapse;
}

th, td{
  padding: .75rem;
}

table{
  width: auto;
  text-align: center;

  th.for-admin{
    background-color: var(--non-editable);
  }

  .table-head{
    th{
      white-space: nowrap;
      font-weight: 200;
      font-size: .75rem;
    }
  }

  .location-dropdown{
    border: none;
    outline: none;
    font-size: 1rem;
  }

  .table-input{
    outline: none;
    border: none;
    font-size: 1rem;
  }

  .task{
    display: flex;
    align-items: center;  
    resize: none;
    overflow: hidden;
  }

  .hour{
    width: 2rem;
  }
}