<app-main-layout>
  <div class="timesheet-container">
    <div class="timesheet-heading">
      <div class="profile">
        <app-avatar avatarClass="w-10" imageUrl="../../assets/image/default/profile.png"></app-avatar>
        <select>
          <option value="volvo">Pasiliao 2023-154</option>
          <option value="saab">Vargas 2023-155</option>
        </select>
        <p>System Developer</p>
      </div>
      <div class="instruction">
        <p>
          Instruction:
          <span>
            only fillup the white cells; highlighted cells are for coordinators
            and admins. if your project is not in list, please request to sales
            team.
          </span>
        </p>
      </div>
    </div>

    <app-timesheet-table></app-timesheet-table>
    <p class="add__table">
      Add table
      <fa-icon [icon]="faPlus"></fa-icon>
    </p>
  </div>
</app-main-layout>
