<table>
  <tr class="table-head">
    <th 
      [ngClass]="thClass(timesheetTable.forAdmin)"
      *ngFor="let timesheetTable of thead">
      {{ timesheetTable.tableHead }}
    </th>
  </tr>
  
  <ng-container *ngFor="let timesheetData of timesheet">
    <tr>
      <td>
        <input type="checkbox" [checked]="timesheetData.isChecked" disabled>
      </td>
      <td>{{ timesheetData.approvedBy }}</td>
      <td>
        <input type="checkbox" [checked]="timesheetData.isOT" disabled>
      </td>
      <td>
        <input type="checkbox" [checked]="timesheetData.isND" disabled>
      </td>
      <td>{{ timesheetData.date }}</td>
      <td>
        <select class="location-dropdown" >
          <option selected disabled hidden>{{timesheetData.location}}</option>
          <option value="OFC-DW">OFC-DW</option>
          <option value="OFC-ND">OFC-ND</option>
          <option value="FLD">FLD</option>
          <option value="WFH">WFH</option>
          <option value="LVE">LVE</option>
        </select>
      </td>
      <td>{{ timesheetData.project }}</td>
      <td>
        <textarea  class="table-input task" cols="40" rows="1" >{{ timesheetData.task }}</textarea>
      </td>
      <td>
        <input type="text" class="table-input hour" [value]="timesheetData.actualHours">
      </td>
      <td>
        {{ timesheetData.projectDescription }}
      </td>
      <td>{{ timesheetData.weekNo }}</td>
    </tr>
  </ng-container>
</table>