<div class="modal-overlay" *ngIf="isModalOpen">
  <div class="modal-container">
    <form #trainingForm="ngForm" (ngSubmit)="postTraining(trainingForm.value)">
      <input type="text" ngModel name="type" placeholder="Enter Type">
      <br>
      <input type="text" name="data" placeholder="Enter date">

      <input type="submit" value="submit">
    </form>
    <button (click)="closeModal()">Close</button>
  </div>
</div>

<div class="add__training" (click)="openModal()">
  <div class="plus">
    <fa-icon [icon]="faPlus"></fa-icon>
  </div>
</div>